.text {
	/* these are default widths and heights for new text objects */
	height: 100px;
	width: 100px;
	
	/* other default properties for text objects can be set here as well */
	/*
	background-color: ...;
	color: ...;
	font-size: ...;
	font-style: ...;
	font-weight: ...;
	letter-spacing: ...;
	line-height: ...;
	text-align: ...;
	word-spacing: ...;
	*/
}

#glue-contextmenu-text-font-face.glue-text-font-family {
	background-image: url(text-font-family.png);
}

#glue-contextmenu-text-font-face.glue-text-font-face {
	background-image: url(text-font-face.png);
}

.glue-text-input {
	/* this is the textarea for editing */
	/* inherit as much as possible */
	background-color: inherit;
	border: 0px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	text-align: inherit;
	word-spacing: inherit;
}


/* TODO (later): move this somewhere else? */
/* TODO (later): this list also could need some tweaking */

/* System UI */
.glue-font0 {
	font-family: system-ui, sans-serif;
}

/* Transitional */
.glue-font1 {
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

/* Old Style */
.glue-font2 {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

/* Humanist */
.glue-font3 {
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

/* Geometric Humanist */
.glue-font4 {
	font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

/* Classical Humanist */
.glue-font5 {
	font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
}

/* Neo Grotesque */
.glue-font6 {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

/* Monospace Slab Serif */
.glue-font7 {
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
}

/* Monospace Code */
.glue-font8 {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

/* Industrial */
.glue-font9 {
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
}

/* Rounded Sans */
.glue-font10 {
    font-family:  ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}

/* Slab Serif */
.glue-font11 {
    font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
}

/* Antique */
.glue-font12 {
    font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
}

/* Didone */
.glue-font13 {
    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
}

/* Handwritten */
.glue-font14 {
    font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}

.glue-font15 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;


.glue-font16 {
    font-family: Arial, Helvetica, sans-serif;
}

.glue-font17 {
    font-family: 'Courier New', Courier, monospace;
}

.glue-font18 {
    font-family: Georgia, serif;
}

.glue-font19 {
   	font-family: Tahoma, Geneva, sans-serif;
}

.glue-font20 {
    font-family: 'Times New Roman', Times, serif;
}
